<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Dating Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center display-4">My Dating Site</h1>
                <p>
                    Welcome to the web's most successful dating website. At <b>My Dating Website</b>
                    you'll meet another like minded individual. We have the highest success rate
                    of couples on the web. Users are matched by interest and location. Find out why
                    so many others have found love on our site!
                </p>

                <h2>Hear what our users are saying about us.</h2>
                <blockquote class="blockquote">
                    <p class="mb-0"><i>"I met the love of my life after only a month!"</i></p>
                    <footer class="blockquote-footer">Andrea</footer>
                </blockquote>
                <blockquote class="blockquote">
                    <p class="mb-0"><i>"It was so easy to set up a profile and start meeting
                        people. I didn't realize how many others were looking for love in
                        my area."</i></p>
                    <footer class="blockquote-footer">John Smith</footer>
                </blockquote>
                <blockquote class="blockquote">
                    <p class="mb-0"><i>"Just try it! You'll never be the same!"</i></p>
                    <footer class="blockquote-footer">Sarah</footer>
                </blockquote>
                <hr>
            </div>

            <div class="col-md-6">
                <img src="../images/couple.jpeg" alt="couple" class="img-rounded img-responsive p-4">
            </div>
        </div>
    </div>
</body>
</html>