<!--
Celine Leano
1/17/2019
328/dating/views/home.html
Homepage view
-->
<include href="views/head.html"></include>
<body>

<include href="views/navbar.html"></include>

    <div class="container">
        <div class="row my-auto">
            <div class="m-auto col-6 col-sm-6">
                <h1 class="text-center">My Dating Website</h1>
                <p>
                    Welcome to the web's most successful dating website. At <b>My Dating Website</b>
                    you'll meet another like minded individual. We have the highest success rate
                    of couples on the web. Users are matched by interest and location. Find out why
                    so many others have found love on our site!
                </p>

                <h3 class="text-center">Hear what our users are saying about us.</h3>
                <blockquote class="blockquote">
                    <p class="mb-0"><i>"I met the love of my life after only a month!"</i></p>
                    <footer class="blockquote-footer">Andrea</footer>
                </blockquote>
                <blockquote class="blockquote">
                    <p class="mb-0"><i>"It was so easy to set up a profile and start meeting
                        people. I didn't realize how many others were looking for love in
                        my area."</i></p>
                    <footer class="blockquote-footer">John Smith</footer>
                </blockquote>
                <blockquote class="blockquote">
                    <p class="mb-0"><i>"Just try it! You'll never be the same!"</i></p>
                    <footer class="blockquote-footer">Sarah</footer>
                </blockquote>
                <hr>

                <div class="text-center">
                    <a href="sign-up/info" class="btn btn-primary btn-lg">Create a Profile!</a>
                </div>
            </div>

            <div class="d-none-sm d-md-block col-6 col-sm-6">
                <img src="images/couple.png" alt="couple"  class="img-rounded img-responsive">
            </div>
        </div>
    </div>
</body>
</html>