<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interests - Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
        </div>
    </div>
</nav> <!-- end navbar -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-left">Interests</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group row">
                <label>Indoor Interests</label><br>

                <div class="d-flex">
                    <div>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">tv</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">movies</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">cooking</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">board games</label>
                    </div>

                    <div>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">puzzles</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">biking</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">swimming</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">collecting</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label>Outdoor Interests</label><br>
                <div class="d-flex">
                    <div>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">hiking</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">biking</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">swimming</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">collecting</label>
                    </div>

                    <div>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">walking</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">climbing</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">camping</label>
                        <label class="checkbox-inline p-2 flex-fill"><input type="checkbox" value="">hunting</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-right">
        <a href="summary" class="btn btn-primary btn-md">Next ></a>
    </div>
</div>
</body>
</html>