<!--
Celine Leano
1/29/2019
328/dating/views/summary.html
Profile Summary
-->
<include href="views/head.html"></include>
<body>

<include href="views/navbar.html"></include>

<div class="container mx-auto my-3 p-4 border rounded">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-left">Summary</h1>
            <hr>
        </div>
    </div>

    <div class="row center">
        <div class="col-lg-6">
            <ul class="ul list-group">
                <li class="list-group-item">Name: {{ @fname }} {{ @lname }}</li>
                <li class="list-group-item">Gender: {{ @gender }}</li>
                <li class="list-group-item">Age: {{ @age }}</li>
                <li class="list-group-item">Phone: {{ @phone }}</li>
                <li class="list-group-item">Email: {{ @email }}</li>
                <li class="list-group-item">State: {{ @state }}</li>
                <li class="list-group-item">Seeking: {{ @seeking }}</li>
                <li class="list-group-item">Interests: {{ @indoor }} {{ @outdoor }}</li>
            </ul>
        </div>

        <div class="col-lg-6">
            <img src="../images/default.jpg" alt="Default Profile Picture" class="rounded">

            <h4 class="mt-2">Biography</h4>
            <p class="text-center">
                {{ @bio }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-lg-center m-3">
            <a href="#" class="btn btn-primary btn-md">Contact Me!</a>
        </div>
    </div>
</div>
</body>
</html>